.main {
    position: relative;
    width: 100%;
    height: auto;
    padding: 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start ;
}

.mainHolder {
    position: relative;
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 30px 20px;
    margin: 10px 0px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    gap: 20px;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;   
}

.mainHolderHeading h1{
    font-size: 25px;
    font-weight: 400;
}