* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  overflow: visible;
}

body {
  color: rgb(0, 0, 0);
  background:#fafafa;
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}