
.mainHeader {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 0px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(10px);
    z-index: 99999;
  }
  
  .mainHeaderHolder {
    position: relative;
    width: 95%;
    height: 100%;
    max-width: 1300px;
    margin: 0px auto;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mainHeaderItem {
    position: relative;
    width: auto;
    height: 100%;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  }
  
  .mainHeaderItem h1 {
    position: relative;
    width: auto;
    height: auto;
    font-size: 25px;
    font-weight: 300;
  }
  
  .mainHeaderItem p {
    position: relative;
    font-size: 17px;
    font-weight: 400;
    padding: 15px 15px;
    cursor: pointer;
  }
  .mainHeaderItem p::after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    height: auto;
    padding: 2.5px;
    border-radius: 50%;
    background: #444;
    display: none;
  }
  .mainHeaderItem p:hover::after {
    display: block;
  }
  .mainHeaderItem button {
    position: relative;
    width: auto;
    height: 100%;
    padding: 15px 25px;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    border-radius: 28px;
    background-color: black;
  }
  


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .mainHeaderItemTwo {
      display: none;
    }
  
    .mainHeaderHolder {
      width: 100%;
    }
    .mainHeaderItem h1 {
      font-size: 23px;
      font-weight: 400;
    }
    .mainHeaderItemThree {
      display: flex;
    }
  
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .mainHeaderItemTwo {
      display: flex;
    }
    .mainHeaderHolder {
      width: 95%;
    }
    .mainHeaderItem h1 {
      font-size: 25px;
      font-weight: 500;
    }
    .mainHeaderItemThree {
      display: none;
    }
   
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .mainHeaderItemTwo {
      display: flex;
    }
    .mainHeaderHolder {
      width: 95%;
    }
    .mainHeaderItem h1 {
      font-size: 25px;
      font-weight: 500;
    }
    .mainHeaderItemThree {
      display: none;
    }
    
  }
  
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    .mainHeaderItemTwo {
      display: flex;
    }
    .mainHeaderHolder {
      width: 95%;
    }
    .mainHeaderItem h1 {
      font-size: 25px;
      font-weight: 400;
    }
    .mainHeaderItemThree {
      display: none;
    }
   
  }
  