.main {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  height: auto;
  padding: 20px;
  background: white;
}

.mainHolder {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0px auto;
  display: flex;
  gap: 50px;
  flex-direction: column;
}

.mainHolderItem {
  position: relative;
  width: 100%;
  height: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHolderItemImage {
  position: relative;
  width: 40%;
  height: auto;
  padding: 10px;
  
}

.mainHolderItemText{ 
  position: relative;
  width: 55%;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainHolderItemText h2{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 30px;
  font-weight: 500;
  line-height: 45px;
  color: #111;
  text-transform: capitalize; 
}

.mainHolderItemText p{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #111;
  text-transform: capitalize; 
}

.mainHolderItemText span{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: #111;
  text-transform: capitalize; 
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
.main {
  padding: 10px;
}
.mainHolderItem{
  flex-wrap: wrap;
}
.mainHolderItemImage {
  width: 100%;
  height: 250px;
}
.mainHolderItemText{ 
  width: 100%;
}
}